{% extends 'rss/base.jinja' %}
{% block title %}{{artist}}'s comic feed!{% endblock %}
{% block link %}https://comicworld.annoyingrains.xyz/artists/{{artist}}{% endblock %}
{% block description %}{{artist}}'s comics on ComicWorld!{% endblock %}
