{% extends 'rss/base.jinja' %}
{% block title %}All of ComicWorld!{% endblock %}
{% block link %}https://comicworld.annoyingrains.xyz/{% endblock %}
{% block description %}Every comic, from every artist, on ComicWorld!{% endblock %}