{% extends 'rss/base.jinja' %}
{% block title %}Comics in series: '{{seriesName}}'{% endblock %}
{% block link %}https://comicworld.annoyingrains.xyz/series/{{series}}{% endblock %}
{% block description %}The '{{seriesName}}' series on ComicWorld!{% endblock %}
