{% extends 'base.jinja' %}
{% from 'macros/sticky.jinja' import sticky %}

{% block content %}
<div class="center">
    <div class="notepad">
        <div class="notepad-top"><img class="tack" src="https://yesterweb.org/img/bb/thumbtack.png"></div>
        <h1>{% block title %} Artists: {% endblock %}</h1>
    </div>
</div>

<div class="notecontainer">
    {% for artist in artists %}
    {% call sticky(artist[0], url_for('artistpage', artist=artist[0])) %}
    {% endcall %}
    {% endfor %}
    <!-- This fake element is only here to ensure that the final sticky isn't forced to be an extra row down -->
    <div style="visibility:hidden; height:0px; width: 20em"></div>
</div>
{% endblock %}