{% extends 'base.jinja' %}
{% from 'macros/sticky.jinja' import sticky %}
{% from 'macros/notepad.jinja' import notepad %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="All of ComicWorld!" href="/feed" />
<link rel="alternate" type="application/rss+xml" title="{{artist}}'s feed" href="{{artist}}/feed" />
{% endblock %}

{% block content %}
{{ notepad(artist + "'s page", true, page, allownext) }}
<div class="notecontainer">
    {% for comic in comics %}
    {% call sticky(comic['title'], url_for('comic', comic_id=comic['id']), editable=true) %}
    {% if comic['seriesid'] %}
    <span class="badge badge-primary">From series: <a
            href="/series/{{series[comic['seriesid']]}}">{{series[comic['seriesid']] }}</a></span>
    <br>
    {% endif %}
    <span class="badge badge-primary">{{ comic['created'] }}</span>
    <a href="{{ url_for('comic', comic_id=comic['id']) }}">
        <img src="/static/comics/{{ comic['id'] }}.{{ comic['fileext'] }}">
    </a>
    {% endcall %}
    {% endfor %}
    <!-- This fake element is only here to ensure that the final sticky isn't forced to be an extra row down -->
    <div style="visibility:hidden; height:0px; width: 20em"></div>
</div>

<div class="linkbar">
    {% if page - 1 > 0 %} <a href="?page={{page - 1}}">Previous Page</a>{% endif %}{% if page - 1 > 0 and allownext%} |
    {% endif %}{% if allownext %}<a href="?page={{page + 1}}">Next Page</a> {% endif %}
</div>
{% endblock %}