{% extends 'base.jinja' %}

{% block content %}
    <h2>{% block title %} {{ comic['title'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ comic['created'] }}</span>
    <br>
    <img src="/static/comics/{{ comic['id'] }}.{{ comic['fileext'] }}", style="max-width: 100%;">
{% endblock %}