{% extends 'base.jinja' %}
{% from 'macros/notepad.jinja' import notepad %}
{% block content %}
{% call notepad("Edit a series") %}
<form method="post" enctype=multipart/form-data>
    <div class="form-group">
        <label for="name">Series name</label>
        <input type="text" name="name" placeholder="Series Name" class="form-control"
            value="{{ request.form['name'] }}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endcall %}
{% call notepad("Or, alternatively, delete it!", showpin=false, smalltitle=true) %}
<form action="{{ url_for('series.delete', SeriesName=SeriesName) }}" method="POST">
    <input type="submit" value="Delete Series" class="btn btn-danger btn-sm"
        onclick="return confirm('Are you sure you want to delete this series?')">
</form>
{% endcall %}
{% endblock %}