{% extends 'base.jinja' %}

{% block content %}
    <h1>{% block title %} Welcome to ComicWorld {% endblock %}</h1>
    {% if showimages != 1 %}
    <a href="?showimages=1">Show images?</a> Note - This may take a LONG time if there are a lot of them!
    {% else %}
    <a href="?showimages=0"> stop showing images?</a>
    {% endif %}
    {% for comic in comics %}
        <a href="{{ url_for('comic', comic_id=comic['id']) }}">
            <h2>{{ comic['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ comic['created'] }}</span>
        <a href="/artists/{{artists[comic['artistid']]}}">
            <span class="badge badge-primary">{{ artists[comic['artistid']] }}</span>
        </a>
        <a href="{{ url_for('edit', id=comic['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        {% if showimages == 1 %}
            <br>
            <br>
            <img src="/static/comics/{{ comic['id'] }}.{{ comic['fileext'] }}", style="max-width: 50%;">
            <br>
            <br>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}