{% extends 'base.jinja' %}

{% block content %}
<div class="center">
    <div class="notepad">
        <div class="notepad-top"><img class="tack" src="https://yesterweb.org/img/bb/thumbtack.png"></div>
        <h1>{% block title %} Welcome to ComicWorld {% endblock %}</h1>
        {% if page - 1 > 0 %} <a href="?page={{page - 1}}">Previous Page</a>{% endif %}{% if page - 1 > 0 and allownext%} |
        {% endif %}{% if allownext %}<a href="?page={{page + 1}}">Next Page</a> {% endif %}
    </div>
</div>
<div class="notecontainer">
    {% for comic in comics %}
    <div class="sticky {{['s1','s2', 's3', 's4']|random}}"
        onclick="window.location='{{ url_for('comic', comic_id=comic['id']) }}'">
        <a href="{{ url_for('comic', comic_id=comic['id']) }}">
            <h2>{{ comic['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ comic['created'] }}</span>
        <a href="/artists/{{artists[comic['artistid']]}}">
            <span class="badge badge-primary">{{artists[comic['artistid']] }}</span></a>
        <a href="{{ url_for('edit', id=comic['id']) }}">
            <span class="badge badge-warning">Edit</span></a>
        <a href="{{ url_for('comic', comic_id=comic['id']) }}">
            <img src="/static/comics/{{ comic['id'] }}.{{ comic['fileext'] }}">
        </a>
    </div>
    {% endfor %}
    <!-- This fake element is only here to ensure that the final sticky isn't forced to be an extra row down -->
    <div style="visibility:hidden; height:0px; width: 20em"></div>
</div>

<div class="linkbar">
    {% if page - 1 > 0 %} <a href="?page={{page - 1}}">Previous Page</a>{% endif %}{% if page - 1 > 0 and allownext%} |
    {% endif %}{% if allownext %}<a href="?page={{page + 1}}">Next Page</a> {% endif %}
</div>
{% endblock %}