{% extends 'base.jinja' %}
{% from 'macros/sticky.jinja' import sticky %}
{% from 'macros/notepad.jinja' import notepad %}

{% block content %}
{{ notepad("Series:") }}

<div class="notecontainer">
    {% for series in series_list %}
    {% call sticky(series[1], url_for('series', seriesName=series[1]), editable=true) %}
    {% endcall %}
    {% endfor %}
    <!-- This fake element is only here to ensure that the final sticky isn't forced to be an extra row down -->
    <div style="visibility:hidden; height:0px; width: 20em"></div>
</div>
{% endblock %}